/*unversal accross all pages for 320px and more mobile*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap');
*{
    padding: 0;
    margin: 0;
  }
body{
    display: flex;
    flex-direction: column;
    background-color: #F0EEC9;
    font-family: 'Source Serif 4', serif;
    color: #180A00;
    font-size: 14px;
    min-height: 100vh;
    width: 100%;
  }  
header, footer{
    background-color: #AE7F4D;
    color: #FFF;
    width: 100%;
  } 
 hr{
  border: 4px solid #54441B;
 } 

/*header*/

/*content body*/

/*media query for table*/

/*media query for desktop*/

 /*footer*/
 #footnotes{
  margin-top: auto;
  text-transform: capitalize;
  font-size: 10px;
 }
 .fontawesome-icons{
  letter-spacing: 2px;
  font-size: 15px;
  line-height: 1px;
  }
.fontawesome-icons a{
  color:#FFF
  }
.facebook-icon :hover{
  color: #3B5A9B;
  }
.twitter-icon :hover{
  color: #2B97F1;
  }
.instagram-icon :hover{
  color: #f7120e;
  }
.linkedin-icon :hover{
  color: #006599;
  }
